<!DOCTYPE html>
<html ng-app="CodeForX">
<head>
  <title>CodeForX</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" type="text/css" href="bower_components/codemirror/theme/monokai.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">

  <!-- CodeMirror -->
  <script src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
  <script type="text/javascript" src="bower_components/codemirror/mode/javascript/javascript.js"></script>

  <!-- Angular -->
  <script type="text/javascript" src="public/javascripts/controllers.js"></script>
</head>
<body>
  <div class="container-fluid" ng-controller="StaticPagesCtrl">
    <div class="row">
      <div class="col-xs-6">
        <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="answer.content" id="codemirror"></ui-codemirror>
      </div>
      <div class="col-xs-6">
        <button ng-click="answer.check()">Submit</button>
        
        {{ answer.result }}
      </div>
    </div>
  </div>
</body>
</html>