<!DOCTYPE html>
<html ng-app="CodeForX">
<head>
  <title>CodeForX</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../../bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" type="text/css" href="../../bower_components/codemirror/theme/monokai.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">

  <!-- CodeMirror -->
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/codemirror/lib/codemirror.js"></script>
  <script src="../../bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
  <script src="../../bower_components/codemirror/mode/javascript/javascript.js"></script>

  <!-- Angular -->
  <script src="../../bower_components/angular-route/angular-route.js"></script>
  <script src="../../public/javascripts/angular/angular-config.js"></script>
  <script src="../../public/javascripts/angular/controllers/static-pages.js"></script>
  <script src="../../public/javascripts/angular/controllers/questions-new.js"></script>
  <script src="../../public/javascripts/angular/controllers/questions-index.js"></script>

  <base href="/">
</head>
<body ng-view>
</body>
</html>
